* {
  margin: 0;
  font-family: "Oswald", sans-serif;
}
/* Header Part */
.head {
  background: url(images/banner/banner1.png) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.head-contain {
  width: 35%;
  float: right;
  margin-right: 200px;
  margin-top: 160px;
}
.head-contain h1 {
  font-size: 60px;
  text-align: right;
  margin-bottom: 20px;
}
.head-contain p {
  color: rgb(139, 139, 139);
  font-weight: 200;
  width: 76%;
  text-align: right;
  float: right;
  margin-bottom: 20px;
}
.btn1 {
  float: right;
  margin-left: 60px;
  padding: 8px 15px;
  background-color: rgb(255, 96, 33);
  border: none;
  border-radius: 2px;
  color: white;
}
/* My failures of previous Year */
.my-failures {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.my-failures-content {
  display: flex;
  gap: 140px;
}
.my-failures-content img {
  width: 460px;
  height: 500px;
}
.my-failures-content-text {
  margin-top: 100px;
  width: 30%;
  margin-left: 120px;
}
.my-failures-content-text h1 {
  font-size: 45px;
  line-height: 40px;
  margin-bottom: 20px;
}
.my-failures-content-text p {
  font-size: 14px;
  color: rgb(139, 139, 139);
  font-weight: 200;
  margin-bottom: 10px;
}
.my-failures-content-text i {
  color: rgb(0, 235, 0);
}
.my-failures-content-text ul {
  padding: 0;
}
.my-failures-content-text li {
  list-style: none;
  font-size: 14px;
  width: 100%;
  float: left;
  color: rgb(139, 139, 139);
}
/* My Plan */
.my-plan {
  width: 80%;
  margin: auto;
  margin-top: 120px;
}
.my-plan-items h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 80px;
}
.my-plan-content {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.my-plan-content-topic {
  margin-right: 80px;
  text-align: center;
  line-height: 30px;
}
.my-plan-content-topic img {
  width: 70px;
}
.my-plan-content-topic h2 {
  font-size: 20px;
}
.my-plan-content-topic p {
  color: rgb(139, 139, 139);
}
.my-plan-img {
  margin-bottom: 200px;
  background-image: url(images/watch.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  border-radius: 5px;
  margin-top: 60px;
}
.my-plan-img img {
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.6;
  height: 262px;
  width: 80%;
}
.my-plan-img h3 {
  color: white;
  font-size: 50px;
  width: 440px;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 30px;
}
.btn2 {
  padding: 10px 30px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
  color: rgb(255, 96, 33);
  position: relative;
  margin: 0 30px;
  margin-bottom: 30px;
}
/* Footer Part */
footer{
    width: 100%;
    background-color: black;
    height: 50vh;
}
.footer-content{
    display: flex;
    gap: 80px;
    width:  80%;
    margin: auto;
    justify-content: space-around;
}
.footer-content-items{
    margin-top: 20px;
    color: white;
    width: 350px;
   
}
.footer-content-items h1{
    font-size: 30px;
    margin: 20px 0 ;
}
.footer-content-items p{
    color: rgb(139, 139, 139);
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-content-items h4 {
    font-size: 12px;
    color: rgb(139, 139, 139);
    line-height: 30px;
    font-weight: 200;
}
.footer-content-items ul{
    display: flex;
    padding: 0;
}
.footer-content-items li{
    list-style: none;
    margin-right: 16px;
    margin-top: 20px;

}
.footer-content-items li img{
    width: 30px;
}
.footer-content-items h2{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
}
.footer-content-items input{
    padding: 8px 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    border: 1px solid rgb(107, 107, 107);
    background-color: black;
    border-radius: 5px;
}
.btn3 {
    padding: 10px 30px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    color: rgb(255, 96, 33);
    position: relative;
    margin-bottom: 30px;
  }